<div class="footer-bg">
<div class="footer container">
<div class="footer__welcome container colflexDir">
    <div class="footer__welcome__title">WELCOME</div>
    <div class="footer__welcome__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
</div>
<div class="footer__links container colflexDir">
    <div class="footer__links__title footer__links">USEFUL LINKS</div>
    <div class="footer__links__text footer__links">Home</div>
    <div class="footer__links__text footer__links">About us</div>
    <div class="footer__links__text footer__links">Services</div>
    <div class="footer__links__text footer__links">Terms of Service</div>
    <div class="footer__links__text footer__links">Privacy policy</div>
</div>
<div class="footer__contact-us container colflexDir">
    <div class="footer__contact-us__title">CONTACT US</div>
    <div class="footer__contact-us__address">A108 Adam Street NY 535022 United States</div>
    <div class="footer__contact-us__phone"><span class="bold">Phone: </span><span>+1 1234 56789</span></div>
    <div class="footer__contact-us__email"><span class="bold">Email: </span><span>info@gmail.com</span></div>
    <div class="footer__contact-us__icons container">
    <div class="footer__contact-us__icons__icon">
        <fa-icon class="footer__contact-us__icons__icon__inside" [icon]=twitterIcon></fa-icon>
    </div>
    <div class="footer__contact-us__icons__icon">
        <fa-icon class="footer__contact-us__icons__icon__inside" [icon]=faceBookIcon></fa-icon>
    </div>
    <div class="footer__contact-us__icons__icon">
        <fa-icon class="footer__contact-us__icons__icon__inside" [icon]=instaIcon></fa-icon>
    </div>
    <div class="footer__contact-us__icons__icon">
        <fa-icon class="footer__contact-us__icons__icon__inside" [icon]=googlePlusIcon></fa-icon>
    </div>
    <div class="footer__contact-us__icons__icon">
        <fa-icon class="footer__contact-us__icons__icon__inside" [icon]=linkedinIcon></fa-icon>
    </div>
    </div>
</div>
<div class="footer__newsletter">
    <div class="footer__newsletter__title">OUR NEWSLETTER</div>
    <div class="footer__newsletter__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
    <div class="footer__newsletter__subscribe">
        <input type="text" class="footer__newsletter__subscribe--input">
        <a class="footer__newsletter__subscribe--btn">Subscribe</a>
    </div>
</div>
</div>
<div class="copyright">
   <div class="copyright__text">
       © Copyright . All Rights Reserved 
   </div> 
</div>
</div>