@import '../../../../sass/abstract/variables';
.footer{
    padding: 3vw 0;
    font-weight: 100;
    
    &-bg{
        width: $page-width;
        margin-top: 4vw;
        background-color: $primary;
        height: 31vw;
        color: white;
    }
    &__welcome{
        padding-right: 3vw;
        padding-bottom: 5vw;
        &__title{
            width: 100%;
            font-size: 3vw;
            padding: 1vw 0 0 0;
        }
        &__text{
            font-size: 1vw;
            line-height: 1.7vw;
            padding-top: 2.5vw;
        }
    }
    &__links{
        font-size: 1.1vw;
        width: 44%;
        &__title{
            width: 100%;
            font-weight: 500;
            padding-bottom: 1vw;
        }
        &__text{
            font-size: 1vw;
            width: 100%;
            line-height: 3.1vw;
            
        }

    }
    &__contact-us{
        padding-right: 4vw;
        font-size: 1.1vw;
        line-height: 2vw;
        width: 52%;
        &__title{
            font-weight: 500;
            width: 100%;
            padding-bottom: 3vw;

        }
        &__address{

        }
        &__phone{
            width: 100%;
        }
        &__email{
            width: 100%;


        }
        &__icons{
            width: 100%;
            padding: 2.7vw 0 0 0;
            &__icon{
                background-color: $primary-mid-light;
                width:2.7vw ;
                height: 2.7vw;
                border-radius: 50%;
                position: relative;
                &__inside{
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, 50%);
                    bottom: 50%;
                    font-size: 1.5vw;
                }
            }
        }

    }
    &__newsletter{
        width: 60%;
        font-size: 1vw;
        line-height: 2vw;
        &__title{
            font-weight: 500;
            width: 100%;
            padding-bottom: 2vw;
        }
        &__text{
            font-size: 0.9vw;
        }
        &__subscribe{
            padding-top: 0.7vw;
            height: 2vw;
            &--btn{
                background-color: $primary-mid-light;
                padding: 0.4vw 0.9vw 0.6vw 0.9vw;
                &:hover{
                    cursor: pointer;
                    opacity: 0.7;
                }
            }
            &--input
            {
                height: 100%;
                width: 10vw;

            }
        }

    }
}
.copyright{
    color: white;
    text-align: center;
background-color: $primary-dark;
height: 7vw;
&__text{
    padding: 3vw 0;
    font-size: 1vw;
}
}
.bold{
    font-weight: 500;
}