<div class="intro-bg" >
    <div class="intro-bg__navbar">
        <div class="container">
            <div class="intro-bg__navbar__logo">
                Aphrie Task
            </div>
            <div class="intro-bg__navbar__menu-items">
                <a class="intro-bg__navbar__menu-items__item">Home</a>
                <a class="intro-bg__navbar__menu-items__item" href="#about">About Us</a>
                <a class="intro-bg__navbar__menu-items__item" href="#portfolio">Portfolio</a>
                <a class="intro-bg__navbar__menu-items__item" href="#team">Team</a>
                <a class="intro-bg__navbar__menu-items__item" href="#contact">Contact Us</a>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="intro-bg__text">
            <h1 class="intro-bg__text intro-bg__text--white">
                We provide
            </h1>
            <h1 class="intro-bg__text intro-bg__text--primary-light">
                solutions
            </h1>
            <h1 class="intro-bg__text intro-bg__text--white">
                for your business!
            </h1>
            <div class="container intro-bg__text__btn">
                <app-rounded-btn [btn]="getStartedBtn"></app-rounded-btn>
                <app-rounded-btn [btn]="ourServicesBtn"></app-rounded-btn>
            </div>
        </div>

        <div class="intro-bg__svg">

        </div>
    </div>
</div>