<div class="our-clients">
    <div class="our-clients__title">Our Clients</div>
    <div class="our-clients__desc">
        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
        unchanged.

    </div>
    <div class="our-clients__clients container">
        <div class="our-clients__clients__client">
            <img class="our-clients__clients__img" src="../../../../assets/images/clients/client-1.png" alt="">
        </div>
        <div class="our-clients__clients__client">
            <img class="our-clients__clients__img" src="../../../../assets/images/clients/client-2.png" alt="">
        </div>
        <div class="our-clients__clients__client">
            <img class="our-clients__clients__img" src="../../../../assets/images/clients/client-3.png" alt="">
        </div>
        <div class="our-clients__clients__client">
            <img class="our-clients__clients__img" src="../../../../assets/images/clients/client-4.png" alt="">
        </div>
        <div class="our-clients__clients__client">
            <img class="our-clients__clients__img" src="../../../../assets/images/clients/client-5.png" alt="">
        </div>
        <div class="our-clients__clients__client">
            <img class="our-clients__clients__img" src="../../../../assets/images/clients/client-6.png" alt="">
        </div>
        <div class="our-clients__clients__client">
            <img class="our-clients__clients__img" src="../../../../assets/images/clients/client-7.png" alt="">
        </div>
        <div class="our-clients__clients__client">
            <img class="our-clients__clients__img" src="../../../../assets/images/clients/client-7.png" alt="">
        </div>
    </div>

</div>