<div class="testimonials container colflexDir">
    <div class="testimonials__title">Testimonials</div>
    <div class="testimonials__personal-data container">
      <div class="testimonials__personal-data__img">
        <img class="testimonials__personal-data__img--rounded" src={{testimonial.avatar}} alt="">
      </div>
      <div class="testimonials__personal-data__data container colflexDir">
        <div class="testimonials__personal-data__data testimonials__personal-data__data__name">{{testimonial.first_name+testimonial.last_name}}</div>
        <div class="testimonials__personal-data__data testimonials__personal-data__data__job">Ceo & Founder</div>
        <div class="testimonials__personal-data__data testimonials__personal-data__data__desc">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. </div>

      </div>
    </div>
    
  </div>