<section id="portfolio" class="our-portfolio container colflexDir">
    <div class="our-portfolio__text">
        <h1 class="our-portfolio__text__title">Our Portfolio</h1>
    </div>
    <div class="our-portfolio__btns container">
        <app-rounded-btn class="our-portfolio__btns__btn" [btn]="AllBtn"></app-rounded-btn>
        <app-rounded-btn class="our-portfolio__btns__btn" [btn]="AppBtn"></app-rounded-btn>
        <app-rounded-btn class="our-portfolio__btns__btn" [btn]="cardBtn"></app-rounded-btn>
        <app-rounded-btn class="our-portfolio__btns__btn" [btn]="webBtn"></app-rounded-btn>
    </div>
    <div class="our-portfolio__jpg container">
        <div class="colflexDir">
            <div>
                <img class="our-portfolio__jpg__img" src="../../../../assets/images/portfolio/app1.jpg" alt="">
            </div>
            <div>
                <img class="our-portfolio__jpg__img" src="../../../../assets/images/portfolio/web2.jpg" alt="">
            </div>
            <div>
                <img class="our-portfolio__jpg__img"  src="../../../../assets/images/portfolio/web1.jpg" alt="">
            </div>
        </div>
        <div class="colflexDir">
            <div>
                <img class="our-portfolio__jpg__img" src="../../../../assets/images/portfolio/web3.jpg" alt="">
            </div>
            <div>
                <img class="our-portfolio__jpg__img" src="../../../../assets/images/portfolio/card2.jpg" alt="">
            </div>
            <div>
                <img class="our-portfolio__jpg__img" src="../../../../assets/images/portfolio/card3.jpg" alt="">
            </div>
            
        </div>
        <div class="colflexDir">
            <div>
                <img class="our-portfolio__jpg__img" src="../../../../assets/images/portfolio/app2.jpg" alt="">
            </div>
            <div>
                <img class="our-portfolio__jpg__img" src="../../../../assets/images/portfolio/app1.jpg" alt="">
            </div>
            <div>
                <img class="our-portfolio__jpg__img" src="../../../../assets/images/portfolio/card1.jpg" alt="">
            </div>
            
        </div>
    </div>

</section>