<div id="team" class="team container colflexDir">
    <div class="team__title">
        Team
    </div>
    <div class="team__desc">
        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    </div>
    <div class="team__photos container">
        <img class="team__photos__photo" src="../../../../assets/images/team-1.jpg" alt="">
        <img class="team__photos__photo" src="../../../../assets/images/team-2.jpg" alt="">
        <img class="team__photos__photo" src="../../../../assets/images/team-3.jpg" alt="">
        <img class="team__photos__photo" src="../../../../assets/images/team-4.jpg" alt="">
    </div>
    
</div>
