@import '../../../../sass/abstract/variables';
.team{
    width: $page-width;
    &__title{
        color: #283D50;
        font-size: 2.7vw;
        padding: 5vw 0 1.5vw 0
    }
    &__desc{
        font-size: 1.1vw;
        padding: 0 29vw 5vw 29vw;
    text-align: center;
    color: #7B747C;
    }
    &__photos{
        height: 20vw;
        &__photo{
            border-radius: 50%;
            width:23%;
            transition: all 0.5s ease-in-out;
            &:hover{
            transform: scale(1.08);
            cursor: pointer;
      
            }
        }
    }
}