<form action="">
    <div class="container colflexDir contact-us__details__info__form--parent">
        <div class="contact-us__details__info__form--name-email container">
            <input class="contact-us__details__info__form--mid" placeholder="Your Name" type="text">
            <input class="contact-us__details__info__form--mid" placeholder="Your Email" type="text">
        </div>
        <input class="contact-us__details__info__form--large" placeholder="Subject" type="text">
        <textarea
            class="contact-us__details__info__form--large--textarea contact-us__details__info__form--large"
            placeholder="Message" name="message" id="" cols="30" rows="10"></textarea>
        <app-rounded-btn class="contact-us__details__info__form__btn" [btn]="SendMsgBtn"></app-rounded-btn>
    </div>
</form>
